footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #293241;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 200px;
  text-align: center;
  padding-top: 10px;
  color: white;
}

footer p {
  font-size: small;
}

footer .grilla-pie {
  width: 50%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  font-size: x-small;
  padding: 1%;
  margin: 25px 25px 0;
}

footer a {
  text-decoration: none;
  color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

footer .texto-pie {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

footer .texto-pie p {
  font-size: medium;
  margin: auto 0;
}

footer iframe {
  width: 80%;
  height: 70%;
  margin: 15px auto;
  border: 2px solid black;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

footer .maps-iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .maps-iconos .iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 35px;
}

footer .maps-iconos .iconos img {
  width: 30px;
  height: auto;
  margin: 5px auto;
}

footer .maps-iconos .iconos img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.logo__img {
  width: 50px;
  height: auto;
}

.nav {
  background: #293241;
  height: 45px;
  width: 100%;
  color: white;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 95%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
  float: inline-start;
  top: 0;
}

.nav__item {
  color: white;
  font-size: small;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__item:after {
  content: "";
  display: block;
  background: white;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  -webkit-clip-path: var(--clippy);
          clip-path: var(--clippy);
  -webkit-transition: -webkit-clip-path .4s;
  transition: -webkit-clip-path .4s;
  transition: clip-path .4s;
  transition: clip-path .4s, -webkit-clip-path .4s;
}

.nav__item:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav__input:checked + .nav__menu {
  background: #293241;
}

.nav__label, .nav__input {
  display: none;
}

a {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
}

.bloque-main {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.bloque-main #carouselExampleControls {
  -webkit-box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
          box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  width: 48%;
  height: 100%;
  margin: 0 auto;
}

.bloque-main p {
  background: -webkit-gradient(linear, left top, left bottom, from(#0099ff), to(#66cc33));
  background: linear-gradient(#0099ff, #66cc33);
  -webkit-box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
          box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  border: 2px solid #240324;
  border-radius: 10% 0 10% 0;
  width: 37%;
  max-height: 305px;
  margin: 50px auto 50px;
  padding: 3%;
  text-align: center;
}

.principal {
  width: 100%;
  height: auto;
}

.principal .principal__titulo {
  font-size: xx-large;
  text-align: center;
  margin-top: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: 2px solid #240324;
}

.principal a {
  color: #000000;
  text-decoration: none;
}

.principal .principal__subtitulo {
  margin: 15px auto;
  text-align: center;
}

.principal .principal__subtitulo a {
  text-decoration: none;
}

.segmento {
  width: 90%;
  height: auto;
  margin: 40px auto 0;
}

.segmento h3 {
  margin-top: 25px;
  text-align: center;
  background: radial-gradient(#66cc33, #0099ff);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: 2px solid #240324;
  border-radius: 80% 20%;
}

.segmento p {
  text-align: center;
  font-size: large;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
}

.titulo__nm {
  width: 100%;
  height: auto;
}

.titulo__nm h1 {
  font-size: xx-large;
  text-align: center;
  margin-top: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: 2px solid #240324;
}

.principal__nm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1%;
  width: 85%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
}

.bloque__nm {
  width: 40%;
  height: 100%;
  margin-top: 50px;
  margin-right: 20px;
  border-radius: 10% 35% / 10% 35%;
  border: 2px solid #141414;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#c733cc));
  background: linear-gradient(#ff0000, #c733cc);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bloque__nm h3 {
  text-align: center;
  margin-top: 45px;
  margin-right: 30px;
  text-decoration: underline;
}

.bloque__nm p {
  text-align: center;
  margin: 20px auto 0;
  padding: 10px;
}

.link__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.link__redes a {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.link__redes a img {
  width: 35px;
  height: auto;
  margin-top: 10px;
}

.link__redes a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.video__responsive {
  width: 55%;
  height: auto;
  margin-top: 10px;
}

.video__responsive iframe {
  width: 100%;
  max-height: 400px;
  border: 1px solid black;
}

.grid-img-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  width: 80%;
  height: auto;
  margin: 0px auto 40px;
}

.grid-img-container .img-item {
  width: 100%;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  border: 10px solid #300230;
}

.grid-img-container .img-item img {
  width: 100%;
  height: 100%;
}

.grid-img-container .img-item img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

.grid-img-container .img-item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
}

.grid-img-container .img-item:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  grid-row: 2/7;
}

.grid-img-container .img-item:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
}

.grid-img-container .img-item:nth-child(4) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  grid-row: 2/7;
}

.grid-img-container .img-item:nth-child(5) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
}

.subtitulo-grid {
  width: 99%;
  height: auto;
  text-align: center;
  border: 2px solid #141414;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#c733cc));
  background: linear-gradient(#ff0000, #c733cc);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: auto auto;
}

.subtitulo-grid img {
  width: 30px;
  height: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.subtitulo-grid img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.subtitulo-grid a {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  max-width: 95%;
  height: auto;
  margin: 40px auto 40px;
  -ms-grid-columns: repeat 6, 1fr;
      grid-template-columns: repeat 6, 1fr;
  -ms-grid-rows: repeat 10, 1fr;
      grid-template-rows: repeat 10, 1fr;
}

.grid-container .grid-item {
  width: 100%;
  height: auto;
  margin: 5px auto;
}

.grid-container .grid-item iframe {
  width: 95%;
  height: 80px;
}

.grid-container .grid-item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
}

.grid-container .grid-item:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}

.grid-container .grid-item:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
}

.grid-container .grid-item:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 4;
  grid-row: 6/10;
}

.grid-container .grid-item:nth-child(5) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  grid-row: 5/9;
}

.grid-container .grid-item:nth-child(6) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 6;
  -ms-grid-row-span: 4;
  grid-row: 6/10;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
}

.bajada__llb {
  width: 100%;
  height: auto;
}

.bajada__llb .titulo__llb {
  font-size: xx-large;
  text-align: center;
  margin-top: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: 2px solid #240324;
}

.bajada__llb h4 {
  font-size: medium;
  text-align: center;
  margin: 5px 0 10px;
}

.grid-contenedor {
  display: -ms-grid;
  display: grid;
  max-width: 80%;
  height: 400px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  margin: 20px auto 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.grid-contenedor .item-grid {
  width: 100%;
  height: auto;
}

.grid-contenedor .item-grid img {
  width: 100%;
  height: 100%;
}

.grid-contenedor .item-grid iframe {
  width: 100%;
  height: 100%;
  border: 1px solid #202020;
}

.grid-contenedor .item-grid:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
}

.grid-contenedor .item-grid:nth-child(2) {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7/10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

.grid-contenedor .item-grid:nth-child(3) {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

.grid-contenedor .item-grid:nth-child(4) {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7/10;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4/7;
}

.grid-contenedor .item-grid:nth-child(5) {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10/13;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4/7;
}

.grid-contenedor2 {
  display: -ms-grid;
  display: grid;
  max-width: 85%;
  height: auto;
  margin: 0 auto;
  gap: 10px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.grid-contenedor2 .item-grid2 {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.grid-contenedor2 .item-grid2 iframe {
  max-width: 250px;
  height: 343px;
}

.grid-contenedor2 .item-grid2:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.grid-contenedor2 .item-grid2:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.grid-contenedor2 .item-grid2:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.grid-contenedor2 .item-grid2:nth-child(4) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.segmento-llb {
  width: 90%;
  height: auto;
  margin: 20px auto 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffd900), to(#33cc3b));
  background: linear-gradient(#ffd900, #33cc3b);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.segmento-llb h2 {
  padding: 2%;
  font-size: larger;
  text-align: center;
  text-decoration: underline;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.segmento-llb p {
  text-align: center;
  padding: 10px 10px 40px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
}

.bajada__tp {
  width: 100%;
  height: auto;
}

.bajada__tp .bajada__titulo {
  font-size: xx-large;
  text-align: center;
  margin-top: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: 2px solid #240324;
}

.bajada__tp h3 {
  font-size: larger;
  text-align: center;
  text-decoration: underline;
  margin: 5px 0 15px;
}

.bajada__tp h3 a {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bajada__tp h3 img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.bajada__tp .icono-insta {
  width: 28px;
  height: auto;
  margin-left: 5px;
}

.video__responsive {
  position: relative;
  width: 70%;
  height: 500px;
  margin: 30px auto 10px;
}

.video__responsive iframe {
  width: 100%;
  height: 100%;
}

.segmento__troupe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 87%;
  height: auto;
  margin: 10px auto 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f76511), to(#cc33ab));
  background: linear-gradient(#f76511, #cc33ab);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5% 5%;
}

.segmento__troupe .segmento__parrafo {
  width: 50%;
  height: auto;
  margin: 5px auto 5px;
  padding: 2%;
  font-size: larger;
}

.segmento__troupe img {
  width: 50%;
  height: auto;
}

.contenedor-grilla {
  width: 90%;
  height: auto;
  margin: 10px auto 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
}

.contenedor-grilla img {
  width: 100%;
  height: auto;
  border: 10px solid #a54209;
}

.contenedor-grilla img:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contenedor-grilla .item-grilla:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}

.contenedor-grilla .item-grilla:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
}

.contenedor-grilla .item-grilla:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}

.contenedor-grilla .item-grilla:nth-child(4) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
}

.contenedor-grilla .item-grilla:nth-child(5) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #0c0606;
}

.titulo__tu-proyecto {
  width: 100%;
  height: auto;
}

.titulo__tu-proyecto h1 {
  font-size: xx-large;
  text-align: center;
  margin-top: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: 2px solid #240324;
}

.bajada__tu-proyecto {
  width: 80%;
  height: auto;
  margin: 20px auto 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#7adb62), to(#c75ead));
  background: linear-gradient(#7adb62, #c75ead);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bajada__tu-proyecto h3 {
  text-align: center;
  text-decoration: underline;
  margin-top: 10px;
  padding-top: 10px;
}

.bajada__tu-proyecto p {
  text-align: center;
  margin: 0 auto 25px;
  padding: 2%;
}

.grilla-container {
  width: 85%;
  height: auto;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
}

.grilla-container .item-grid-tp {
  width: 100%;
  height: auto;
}

.grilla-container .item-grid-tp img {
  max-width: 100%;
  max-height: auto;
}

.grilla-container .item-grid-tp img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.grilla-container .item-grid-tp:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
}

.grilla-container .item-grid-tp:nth-child(2) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 7;
  grid-row: 2/9;
}

.grilla-container .item-grid-tp:nth-child(3) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
}

.grilla-container .item-grid-tp:nth-child(4) {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 7;
  grid-row: 2/9;
}

.segmento-tuProyecto {
  width: 70%;
  height: auto;
  margin: 50px auto 50px;
  border: 2px solid #1d1d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#7adb62), to(#c75ead));
  background: linear-gradient(#7adb62, #c75ead);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.segmento-tuProyecto .titulo-tuProyecto {
  width: 75%;
  text-align: center;
  border: 2px solid #202020;
  margin: 20px auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.segmento-tuProyecto p {
  text-align: center;
}

.segmento-tuProyecto ul {
  margin: 15px auto;
}

.segmento-tuProyecto li {
  width: 90%;
  height: auto;
  margin: 15px 0 10px 5px;
}

.raya {
  width: 70%;
  margin: 0 auto;
}

.contacto {
  width: 100%;
  height: auto;
  margin: 10px auto;
}

.contacto h4 {
  background: transparent;
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container {
  width: 70%;
  height: auto;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .nav {
    position: static;
    height: 60px;
  }
  .nav__label {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: absolute;
    top: 60px;
    bottom: 0;
    background: #293241;
    width: 100%;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-clip-path: circle(0 at center);
            clip-path: circle(0 at center);
    -webkit-transition: -webkit-clip-path 1s ease-in-out;
    transition: -webkit-clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out, -webkit-clip-path 1s ease-in-out;
    z-index: 2;
  }
  .nav__input:checked + .nav__menu {
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
  .carouselExampleControls {
    z-index: 1;
  }
  .bloque-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bloque-main #carouselExampleControls {
    width: 50%;
    height: 30%;
  }
  .bloque-main p {
    width: 100%;
    height: 350px;
    margin: 50px auto 10px;
    font-size: medium;
  }
}

@media (max-width: 1023px) {
  .bloque-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bloque-main #carouselExampleControls {
    width: 80%;
    height: auto;
  }
  .bloque-main p {
    width: 90%;
    height: auto;
    margin: 50px auto 10px;
  }
}

@media (max-width: 767px) {
  .grid-container {
    display: -ms-grid;
    display: grid;
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    -ms-grid-columns: repeat 2, 1fr;
        grid-template-columns: repeat 2, 1fr;
    -ms-grid-rows: repeat 6, 1fr;
        grid-template-rows: repeat 6, 1fr;
  }
  .grid-container .grid-item {
    width: 95%;
    height: 100px;
    margin: 0 auto;
  }
  .grid-container .grid-item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .grid-container .grid-item:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .grid-container .grid-item:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .grid-container .grid-item:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .grid-container .grid-item:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .grid-container .grid-item:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .principal__nm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }
  .principal__nm .bloque__nm {
    width: 95%;
    height: auto;
    margin: 0 auto;
  }
  .principal__nm .video__responsive {
    width: 90%;
    height: 250px;
    margin: 25px auto 15px;
  }
  .principal__nm .grid-container {
    margin-top: 10px;
  }
  .grid-img-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .grid-img-container img {
    width: 100%;
    height: auto;
  }
  .grid-img-container img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .grid-img-container .img-item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .grid-img-container .img-item:nth-child(2) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .grid-img-container .img-item:nth-child(3) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5/7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .grid-img-container .img-item:nth-child(4) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .grid-img-container .img-item:nth-child(5) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4/6;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .subtitulo-grid {
    margin-bottom: 50px;
  }
}

@media (max-width: 1024px) {
  .grid-contenedor {
    display: -ms-grid;
    display: grid;
    max-width: 80%;
    height: 400px;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    margin: 20px auto 40px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .grid-contenedor .item-grid {
    width: 100%;
    height: auto;
  }
  .grid-contenedor .item-grid img {
    width: 100%;
    height: 100%;
  }
  .grid-contenedor .item-grid iframe {
    width: 100%;
    height: 100%;
    border: 1px solid #202020;
  }
  .grid-contenedor .item-grid:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 6;
    grid-row: 1/7;
  }
  .grid-contenedor .item-grid:nth-child(2) {
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    grid-column: 7/10;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
  }
  .grid-contenedor .item-grid:nth-child(3) {
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-column: 10/13;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
  }
  .grid-contenedor .item-grid:nth-child(4) {
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    grid-column: 7/10;
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    grid-row: 4/7;
  }
  .grid-contenedor .item-grid:nth-child(5) {
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-column: 10/13;
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    grid-row: 4/7;
  }
  .grid-contenedor2 {
    display: -ms-grid;
    display: grid;
    max-width: 96%;
    height: auto;
    margin: 0 auto;
    gap: 10px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .grid-contenedor2 .item-grid2 {
    width: 100%;
    height: auto;
    margin: 0 auto 20px;
  }
  .grid-contenedor2 .item-grid2 iframe {
    max-width: 220px;
    height: 343px;
  }
  .grid-contenedor2 .item-grid2:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .grid-contenedor2 .item-grid2:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .grid-contenedor2 .item-grid2:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .grid-contenedor2 .item-grid2:nth-child(4) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}

@media (max-width: 768px) {
  .grid-contenedor2 {
    display: -ms-grid;
    display: grid;
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    gap: 0;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
  .grid-contenedor2 .item-grid2 {
    display: block;
    justify-items: center;
    width: 100%;
    max-height: auto;
  }
  .grid-contenedor2 .item-grid2 iframe {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    height: 343px;
    position: relative;
    margin-left: 25px;
  }
  .grid-contenedor2 .item-grid2:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .grid-contenedor2 .item-grid2:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .grid-contenedor2 .item-grid2:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
  }
  .grid-contenedor2 .item-grid2:nth-child(4) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
  }
}

@media (max-width: 425px) {
  .grid-contenedor {
    display: -ms-grid;
    display: grid;
    max-width: 80%;
    height: 400px;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (1fr)[12];
        grid-template-rows: repeat(12, 1fr);
    margin: 20px auto 40px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .grid-contenedor .item-grid {
    width: 100%;
    height: auto;
  }
  .grid-contenedor .item-grid img {
    width: 100%;
    height: 100%;
  }
  .grid-contenedor .item-grid iframe {
    width: 100%;
    height: 100%;
    border: 1px solid #202020;
  }
  .grid-contenedor .item-grid:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 6;
    grid-row: 1/7;
  }
  .grid-contenedor .item-grid:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 7;
    -ms-grid-row-span: 3;
    grid-row: 7/10;
  }
  .grid-contenedor .item-grid:nth-child(3) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
    -ms-grid-row: 7;
    -ms-grid-row-span: 3;
    grid-row: 7/10;
  }
  .grid-contenedor .item-grid:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 10;
    -ms-grid-row-span: 3;
    grid-row: 10/13;
  }
  .grid-contenedor .item-grid:nth-child(5) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
    -ms-grid-row: 10;
    -ms-grid-row-span: 3;
    grid-row: 10/13;
  }
  .grid-contenedor2 {
    display: -ms-grid;
    display: grid;
    max-width: 96%;
    height: auto;
    margin: 0 auto;
    gap: 0;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
  .grid-contenedor2 .item-grid2 {
    width: 100%;
    max-height: auto;
  }
  .grid-contenedor2 .item-grid2 iframe {
    width: 100%;
    height: 343px;
    margin: 0 auto;
    position: relative;
  }
  .grid-contenedor2 .item-grid2:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .grid-contenedor2 .item-grid2:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .grid-contenedor2 .item-grid2:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
  }
  .grid-contenedor2 .item-grid2:nth-child(4) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
  }
}

@media (max-width: 1023px) {
  .contenedor-grilla {
    width: 90%;
    height: auto;
    margin: 40px auto 140px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .contenedor-grilla img {
    width: 100%;
    height: auto;
  }
  .contenedor-grilla img:hover {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .contenedor-grilla .item-grilla:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .contenedor-grilla .item-grilla:nth-child(2) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .contenedor-grilla .item-grilla:nth-child(3) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5/7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .contenedor-grilla .item-grilla:nth-child(4) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .contenedor-grilla .item-grilla:nth-child(5) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4/6;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .video__responsive {
    position: relative;
    width: 85%;
    height: 400px;
    margin: 30px auto 30px;
  }
  .video__responsive iframe {
    width: 100%;
    height: 100%;
  }
  .segmento__troupe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    height: auto;
    margin: -100px auto 20px;
    padding: 0;
  }
  .segmento__troupe .segmento__parrafo {
    text-align: center;
    font-size: small;
    margin: 0 auto;
  }
  .segmento__troupe img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 767px) {
  .bajada__tp h3 {
    font-size: medium;
  }
}

@media (max-width: 1023px) {
  .grilla-container {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: (1fr)[11];
        grid-template-rows: repeat(11, 1fr);
  }
  .grilla-container .item-grid-tp {
    width: 100%;
    height: auto;
  }
  .grilla-container .item-grid-tp img {
    max-width: 100%;
    max-height: auto;
  }
  .grilla-container .item-grid-tp img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
  .grilla-container .item-grid-tp:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1/6;
  }
  .grilla-container .item-grid-tp:nth-child(2) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
    -ms-grid-row: 2;
    -ms-grid-row-span: 5;
    grid-row: 2/7;
  }
  .grilla-container .item-grid-tp:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 6;
    -ms-grid-row-span: 5;
    grid-row: 6/11;
  }
  .grilla-container .item-grid-tp:nth-child(4) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
    -ms-grid-row: 7;
    -ms-grid-row-span: 5;
    grid-row: 7/12;
  }
  .contacto {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  footer {
    max-width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .grilla-pie {
    width: 90%;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    font-size: x-small;
    margin: 15px 10px 0;
  }
  footer .grilla-pie .item-pie {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto 10px;
  }
  footer iframe {
    width: 70%;
    height: 50%;
    margin: 5px auto 40px;
  }
  footer .maps-iconos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .maps-iconos .iconos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 25px;
    margin-left: 10px;
  }
  footer .maps-iconos .iconos img {
    width: 30px;
    height: auto;
    margin: 5px 10px;
  }
  footer .texto-pie {
    font-size: x-small;
  }
}

* {
  margin: 0;
  padding: 0;
}

.bg {
  -webkit-animation: slide 4s ease-in-out infinite alternate;
          animation: slide 4s ease-in-out infinite alternate;
  background-image: linear-gradient(-50deg, #66cc33 50%, #0099ff 50%);
  bottom: 0;
  left: -50%;
  opacity: .4;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.bg3 {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.bg-nm {
  -webkit-animation: slide 3s ease-in-out infinite alternate;
          animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #c733cc 50%, #ff0000 50%);
  bottom: 0;
  left: -50%;
  opacity: .4;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2-nm {
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.bg3-nm {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.bg-llb {
  -webkit-animation: slide 3s ease-in-out infinite alternate;
          animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #33cc3b 50%, #ffd900 50%);
  bottom: 0;
  left: -50%;
  opacity: .4;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2-llb {
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.bg3-llb {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.bg-tp {
  -webkit-animation: slide 3s ease-in-out infinite alternate;
          animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #f76511 50%, #cc33ab 50%);
  bottom: 0;
  left: -50%;
  opacity: .4;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2-tp {
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.bg3-tp {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}

.bg-tu {
  -webkit-animation: slide 3s ease-in-out infinite alternate;
          animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #44e01c 50%, #cc33a6 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2-tu {
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.bg3-tu {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}
/*# sourceMappingURL=style.css.map */